components/ILIAS/Export_/xml/ilias_paragraph_plugins_0_1.dtd

<!-- paragraph plugins dtd, has to be put in each plugin directory -->
<!ELEMENT plugin (title, link, description?)>
<!ATTLIST plugin
	classfile CDATA #REQUIRED
	classname CDATA #REQUIRED
	active (true|false) #REQUIRED
	filetype CDATA #REQUIRED
>

<!ELEMENT title (#PCDATA)>
<!ELEMENT link (#PCDATA)>
<!ELEMENT description (#PCDATA)>
