Modules/Scorm2004/templates/xsd/adlcp_130_export_2004/imsss_v1p0auxresource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema targetNamespace="http://www.imsglobal.org/xsd/imsss" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.imsglobal.org/xsd/imsss" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="imsss_v1p0util.xsd"/>
	<xs:complexType name="auxiliaryResourceType">
		<xs:attribute name="auxiliaryResourceID" type="xs:string" use="required"/>
		<xs:attribute name="purpose" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="auxiliaryResourcesType">
		<xs:sequence>
			<xs:element name="auxiliaryResource" minOccurs="0" maxOccurs="unbounded" type="auxiliaryResourceType" block = "#all"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
