xml/ilias_obj.dtd

<!-- ilias_obj.dtd -->
<!ELEMENT Objects (Object*)>
<!ELEMENT Object (Title, Description?, Owner, CreateDate?, LastUpdate?, ImportId?, References*)>
<!ATTLIST Object
    type CDATA #REQUIRED
    obj_id CDATA #IMPLIED
>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT Owner (#PCDATA)>
<!ELEMENT CreateDate (#PCDATA)>
<!ELEMENT LastUpdate (#PCDATA)>
<!ELEMENT ImportId (#PCDATA)>
<!ELEMENT References (#PCDATA)>


