components/ILIAS/Export/xml/ilias_chtr_5_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
		targetNamespace = "http://www.ilias.de/Modules/Chatroom/chtr/5_3"
		xmlns:t = "http://www.ilias.de/Modules/Chatroom/chtr/5_3"
		elementFormDefault = "qualified">

	<element name="Settings">
		<complexType>
			<sequence>
				<element name="ObjId" type="int" />
				<element name="RoomId" type="int" />
				<element name="Title" type="string" />
				<element name="Description" type="string"  />
				<element name="OnlineStatus" type="int" />
				<element name="AllowAnonymousAccess" type="int" />
				<element name="AllowCustomUsernames" type="int" />
				<element name="EnableHistory" type="int" />
				<element name="RestrictHistory" type="int" />
				<element name="PrivateRoomsEnabled" type="int" />
				<element name="DisplayPastMessages" type="int" />
				<element name="AutoGeneratedUsernameSchema" type="string" />
				<element ref="t:SubRooms" minOccurs="0" maxOccurs="1" />
				<element ref="t:Messages" minOccurs="0" maxOccurs="1" />
			</sequence>
		</complexType>
	</element>

	<element name="SubRooms">
		<complexType>
			<sequence>
				<element ref="t:SubRoom" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>
	<element name="SubRoom">
		<complexType>
			<all>
				<element name="SubRoomId" type="integer" minOccurs="1" maxOccurs="1" />
				<element name="Title" type="string" minOccurs="1" maxOccurs="1" />
				<element name="Owner" type="int" minOccurs="1" maxOccurs="1" />
				<element name="Closed" type="int" minOccurs="1" maxOccurs="1" />
				<element name="Public" type="int" minOccurs="1" maxOccurs="1" />
				<element name="CreatedTimestamp" type="int" minOccurs="1" maxOccurs="1" />
				<element name="PrivilegedUserId" type="int" />
			</all>
		</complexType>
	</element>

	<element name="Messages">
		<complexType>
			<sequence>
				<element ref="t:Message" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>
	<element name="Message">
		<complexType>
			<all>
				<element name="SubRoomId" type="int" minOccurs="1" maxOccurs="1" />
				<element name="Body" type="string" minOccurs="1" maxOccurs="1" />
				<element name="CreatedTimestamp" type="int" minOccurs="1" maxOccurs="1" />
			</all>
		</complexType>
	</element>

</schema>