xml/SchemaValidation/ilias_chtr_9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified">

	<xs:element name="Chatroom">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ObjId" type="xs:int" />
				<xs:element name="RoomId" type="xs:int" />
				<xs:element name="Title" type="xs:string" />
				<xs:element name="Description" type="xs:string"  />
				<xs:element name="OnlineStatus" type="xs:int" />
				<xs:element name="AllowAnonymousAccess" type="xs:int" />
				<xs:element name="AllowCustomUsernames" type="xs:int" />
				<xs:element name="EnableHistory" type="xs:int" />
				<xs:element name="DisplayPastMessages" type="xs:int" />
				<xs:element name="AutoGeneratedUsernameSchema" type="xs:string" />
				<xs:element ref="Messages" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Messages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Message" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Message">
		<xs:complexType>
			<xs:all>
				<xs:element name="Body" type="xs:string" />
				<xs:element name="CreatedTimestamp" type="xs:int" />
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>