Services/Aptar/xml/EmployeeData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:aptar.com:global" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:aptar.com:global">
	<xsd:element name="EmployeeCreateRequest" type="EmployeeData"/>
	<xsd:complexType name="EmployeeAdditionalDataItem">
		<xsd:sequence>
			<xsd:element name="Name">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Value">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Employee">
		<xsd:sequence>
			<xsd:element name="BasicData" type="EmployeeBasicData" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Personal information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TechnicalData" type="EmployeeTechnicalData" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contact information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PayrollData" type="EmployeePayrollData" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Payroll information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OrgChartData" type="EmployeeOrgChartData" minOccurs="0"/>
			<xsd:element name="AdditionalData" type="EmployeeAdditionalData" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Additional data for future extensions</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeData">
		<xsd:sequence>
			<xsd:element name="Employee" type="Employee" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeOrgChartMasterData">
		<xsd:sequence>
			<xsd:element name="OTYPE" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Object Type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OBJID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Object ID</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SHORT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Short descr</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STEXT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Long descr</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeTechnicalData">
		<xsd:sequence>
			<xsd:element name="PERNR" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SAP Personnel n°</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="INFTY" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Infotype</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BEGDA" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start date of the infotypes record</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AEDTM" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date changed on</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="USRID_LONG" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Email</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TEL_NUMBER" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Work phone</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="USRID" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SAP User ID/Active Directory ID/Work mobile</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeePayrollData">
		<xsd:sequence>
			<xsd:element name="PERNR" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SAP Personnel n°</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="INFTY" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Infotype</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BEGDA" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start date of the infotypes record</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AEDTM" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date changed on</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SCHKZ" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Working schedule rule</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TRFAR" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Pay Scale Type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TRFGB" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Pay Scale Area</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TRFGR" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Pay Scale Group</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TRFST" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Pay Scale Level</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PREAS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reason</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ANSAL_15" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Annual Salary</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ANZHL" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Salary</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BNKSA" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bank Type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="EMFTX" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Payee</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BANKS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bank Country</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BANKL" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bank Key</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BANKN" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bank Account n.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SWIFT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SWIFT Code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ZLSCH" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Payment Method</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IBAN" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>IBAN</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BKONT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bank Control Key</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeOrgChartHierarchyData">
		<xsd:sequence>
			<xsd:element name="OTYPE" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Object Type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OBJID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Object Type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SCLAS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Object Type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SOBID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Object Type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="45"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeBasicData">
		<xsd:sequence>
			<xsd:element name="PERNR" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SAP Personnel n°</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="INFTY" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Infotype</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BEGDA" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start date of the infotypes record</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AEDTM" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date changed on</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MASSN" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Action type</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STAT2" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Employment status</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BUKRS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Company Code/Legal Entity</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="WERKS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Personnel Area</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERSG" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Employee group</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERSK" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Employee Subgroup</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ORGEH" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Organizational Unit/Department</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PLANS" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Position</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ZSEGM" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Segment</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ZMNGR" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Personell Number</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NACHN" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Last name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VORNA" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>First name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NACHN2" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Second Last name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ANRED" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Title</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="GESCH" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Gender</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="GBDAT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Birth date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NATIO" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nationality</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FAMST" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Marital Status</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERID" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Personnel ID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PSTLZ" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Postal code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LAND1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Country</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="STATE" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Region/State</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HSNMR" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>House number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="STRAS_40" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Street</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ORT01_40" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>City</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LOCAT_40" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>2nd address line</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ORT02_40" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>District</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AREAC" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Area Code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TELNR" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Telephone number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PNALT" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ID in payroll system</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeOrgChartData">
		<xsd:sequence>
			<xsd:element name="MasterData" type="EmployeeOrgChartMasterData" minOccurs="0"/>
			<xsd:element name="HierarchyData" type="EmployeeOrgChartHierarchyData" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeAdditionalData">
		<xsd:sequence>
			<xsd:element name="Item" type="EmployeeAdditionalDataItem" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>